.map-container {
    width: 100%;
    height: 100%;
    min-height: 400px; // Ensure it has height
    position: relative;
}

.map-element {
    display: inline-block;
    width: 100%;
    height: 100%;
}